.navbar{
    display: flex;
    flex-direction: column;
    align-items: right;

}
.title_text{
    font-size:20px;
    font-weight: bold;
    color: black;
}
.logo{
    width: 50px;
    height: 45px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}
.btnDashboard, .btnUser, .btnProjects, .btnSettings{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px; 
    color: #334155;
}
.profile{
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:15px;
    background:#e7e7e7;
    border-radius:8px;
}

.profile_info{
    display:flex;
    flex-direction:column;
}

.profile_name{
    font-size:14px;
    margin:0;
    color:#334155;
    font-weight:600;
}

.profile_role{
    font-size:13px;
    margin:0;
    color:#64748b;
}

.log_out{
    text-decoration:none;
    font-size:13px;
    color:#dc2626;
    margin-top:5px;
}

.log_out:hover{
    text-decoration:underline;
}
/* Escondemos todas las secciones por defecto */
.section {
    display: none;
}

/* Solo mostramos la que tenga la clase 'active' */
.section.active {
    display: block;
}

/* Estilo para que la navbar y el contenido se vean en columnas */
body {
    display: flex;
    overflow-x: hidden;
}

.navbar {
    min-width: 250px;
    background-color: #ffffff !important;
    border-right: 1px solid #dee2e6;
    color: #333 !important;
}

/* Para que los botones se vean como los de tu imagen de referencia */
.btn-ligth {
    text-align: left;
    padding: 12px 20px;
    border: none;
    color: #64748B;
    background: transparent;
}

.btn-ligth:hover {
    background-color: #F1F5F9;
    color: #11D493;
}
.avatar-circle {
    width: 32px;
    height: 32px;
    background-color: #11D493; /* Tu color verde */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Efecto hover en la fila */
#lista-tabla tr:hover {
    background-color: #f8fafc;
}

/* Bordes suaves para la tabla */
.table-responsive {
    overflow: hidden; /* Mantiene las esquinas redondeadas */
}